@font-face {
    font-family: mitraFont;
    src: url(font_roya.ttf);
    size-adjust: 150%;
}

@font-face {
    font-family: titrFont;
    src: url(font_titr.ttf);
}

b, h5{
    font-family: "titrFont";
}

body, html {
    height: 100%;
    font-family: "mitraFont";
    direction: rtl;
}

.menu {
    display: none;
}
.menu span{
    font-size: 12px;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter
{
    float:right;
}

.w3-card, .w3-card-2{
    box-shadow: none;
}

#tabs{
    border-bottom:1px solid #bebebe;
}

figcaption{
    color: #aaaaaa;
    size:9px;
    font-style: italic;
}
