@font-face {
    font-family: mitraFont;
    src: url(font_roya.ttf);
}

@font-face {
    font-family: titrFont;
    src: url(font_titr.ttf);
}

b, h5{
    font-family: "titrFont";
}

body, html {
    height: 100%;
    font-family: "mitraFont";
    direction: rtl;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("banner.jpg");
    min-height: 75%;
    opacity: 0.5;
}

.menu {
    display: none;
}


.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter
{
    float:right;
}

.w3-card, .w3-card-2{
    box-shadow: none;
}

#tabs{
    border-bottom:1px solid #bebebe;
}

