@font-face {
    font-family: "textFont";
    src: url(../fonts/noto_naskh.ttf);
}

@font-face {
    font-family: "titrFont";
    src: url(../fonts/jomhuri.ttf);
}

*{
    font-family: "textFont";
    direction: rtl;
}
body, html, h1, h2, h3, h4{
    padding: 0;
    margin: 0;
}
body{
    background-color: #888;
    height: 100%;
}
#main{
    margin: auto;
}

.fix_end:after{
    content:"‍";
    padding: 0px;
    margin:0px;
    overflow:visible; 
}

.blnk{
    border-bottom:2px solid black;
    -webkit-animation: blink 0.5s ease-in-out infinite;
    -moz-animation:    blink 0.5s ease-in-out infinite;
    animation:         blink 0.5s ease-in-out infinite;
}


@keyframes blink {  
    0% { border-color: transparent; }
    100% { border-color: black; }
}
@-webkit-keyframes blink {
    0% { border-color: transparent; }
    100% { border-color: black; }
}

figure{
    text-align: center;
    padding: 0px;
    margin:0px;
}
#res_div{
    margin: 10px;
}
#res_div p, .stat_line{
    opacity: 60%;
    text-align: center;
    font-size: 18px !important;
}
.reset_stats{
    font-size: 22px !important;
    cursor: pointer;
}
#text{
    padding-bottom: 0px;
    padding-left: 40px;
    text-indent: 40px;
    color: #000000;
    margin: auto;
    max-width: 960px;
    min-height: 160px;
}
#text span{
    font-size: 35px;
}
#typed{
    color: #bbb;
}
#result, #text_length{
    font-weight: bold;
}
#mistakes{
    font-weight: bold;
    color: #640a0a;
}

#lessons_link{
    text-align: right;
    padding-top: 50px;
    font-family: "titrFont";
    color: #805300;
    text-decoration: none;
    font-size: 30px;
}
#lesson_name{
    font-size: 18px !important;
}

#date{
    text-align: right;
    float:left;
    font-weight: normal;
    font-size:20px;
    margin-left: 80px;
    line-height: 100%;
}
#logo{
    float:right;
    font-weight: normal;
    font-size:30px;
}
#content{
    padding-top: 30px;
    margin-right: 50px;
}
#dest{
    padding-top: 90px;
}
#dest h1, #dest h2, #dest h3{
    font-family: "titrFont";
    font-size: 25px;
}
#repeat{
    font-family: "titrFont";
    color: #eeeeee;
    font-size:20px;
}
#keyboard span{
    padding: 5px;
    width: 30px;;
    height: 40px;
    display: inline-block;
    margin-bottom: 5px;
    color: grey;
}

.hidden{
    display: none;
}

footer{
    text-align: center;
    font-size: 16px;
}

.template{
    display: none;
}

#content_list .name{
    font-family: titrFont !important;
    font-size: 22px;;
    float: right
}

#content_list li{
    text-align: left;
    list-style: none;
    border-bottom: rgb(105, 105, 105) dashed 1px;
    padding-right: 0px;
    margin-right: 0px;
}



/* --------------- keyboard layout ---------------------*/
#keyboard_practice{
    margin: auto;
    padding:5px;
    background-color: #ddd;
    border-radius: 20px;
    /*border: 1px solid #000000; */
    max-width: 1000px;
}
.Keyboard-layout *{
    direction: ltr;

}

div.KeyboardWrap{
    contain:content;
    height:0;
    overflow:hidden;
    padding-bottom:37.25782414%;
    position:relative;
    width:auto
}
div.KeyboardWrap--full{
    padding-bottom:25%
}
.Keyboard-frame{
    fill:#BEBFC1
}
.KeyboardKey-button{
    fill:#F4F5F9;
}
.KeyboardKey-text{
    font-size:10px
}
.KeyboardKey-symbol,.KeyboardKey-text{
    fill: #444;
    cursor:default;
    font-family: textFont;
    user-select:none
}
.KeyboardKey-symbol{
    font-size:11px
}
.KeyboardKey-symbol--primary{
    font-size:14px
}
.KeyboardKey-symbol--secondary{
    font-size:11px
}
.KeyboardKey-symbol--dead{
    fill:#c00
}
.KeyboardKey--simple .KeyboardKey-button {
    fill: #efefee;
}
.KeyboardKey--special .KeyboardKey-button{
    fill:#e3e3e1
}
.KeyboardKey--special .KeyboardKey-symbol,
.KeyboardKey--special .KeyboardKey-text{
    fill:#22211f
}
.KeyboardKey--depressed .KeyboardKey-button{
    fill:#42403e
}
.KeyboardKey--depressed .KeyboardKey-symbol,
.KeyboardKey--depressed .KeyboardKey-text{
    fill:#fefff9
}
.KeyPointer{
    fill:#44c975;
    animation:KeyPointer-animation .2s ease 1s 1 both;
    opacity:.5
}
@keyframes KeyPointer-animation{
    0%{
        opacity:0;
        transform:scale(2)
    }
    to{
        opacity:.5;
        transform:scale(1)
    }

}
/* --------------- keyboard layout ---------------------*/


