@font-face {
    font-family: "textFont";
    src: url(../fonts/noto_naskh.ttf);
}

@font-face {
    font-family: "titrFont";
    src: url(../fonts/jomhuri.ttf);
}

*{
    font-family: "textFont";
    direction: rtl;
}
body, html, h1, h2, h3, h4, b{
    padding: 0;
    margin: 0;
    font-family: titrFont;
}

@media only screen and (max-device-width: 1280px) {
    html{
        font-size: 6px; /*BASE FONT*/
    }
}

@media only screen and (min-device-width: 1281px) {
    html{
        font-size: 11px; /*BASE FONT*/
    }
}

body{
    background-color: #888;
    height: 100%;
}
footer{
    text-align: center;
    font-size: 1.6rem;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #640a0a ;
    margin: 0;
    padding: 0;
}
figure{
    text-align: center;
    padding: 0;
    margin:0;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li:hover{
    opacity: 40%;
}
nav a {
    font-family: titrFont;
    font-size: 3rem;
    text-decoration: none;
    color: #640a0a;
}

#text p{
    font-size: 2rem;;
}

#main{
    height: 100%;
    position: relative;
    max-width: 100rem;
    margin: auto;
}
.blnk{
    border-bottom:2px solid black;
    -webkit-animation: blink 0.5s ease-in-out infinite;
    -moz-animation:    blink 0.5s ease-in-out infinite;
    animation:         blink 0.5s ease-in-out infinite;
}


@keyframes blink {  
    0% { border-color: transparent; }
    100% { border-color: black; }
}
@-webkit-keyframes blink {
    0% { border-color: transparent; }
    100% { border-color: black; }
}
#res_div{
    margin:auto ;

    position: absolute;
    bottom: 0;
    width:  100%;

}
#res_div p, .stat_line{
    opacity: 60%;
    text-align: center;
    font-size: 1.8rem !important;
}
#text{
    padding-bottom: 0;
    text-indent: 4rem;
    color: #000000;
    margin: auto;
    max-width: 100rem;
    min-height: 16rem;
}
#text span{
    font-size: 3.5rem;
    font-weight: bold;
}
#typed{
    color: #bbb;
}
#result, #text_length{
    font-weight: bold;
}
#mistakes{
    font-weight: bold;
    color: #640a0a;
}

#lessons_link{
    text-align: right;
    padding-top: 5rem;
    font-family: "titrFont";
    color: #805300;
    text-decoration: none;
    font-size: 3rem;
}
#lesson_name{
    font-family: "titrFont";
    font-size: 1.8rem !important;
}

#date{
    text-align: right;
    float:left;
    font-weight: normal;
    font-size:2rem;
    margin-left: 8rem;
    line-height: 100%;
}
#logo{
    float:right;
    font-weight: normal;
    font-size:3rem;
}
#content{
    /*padding-top: 30px;
    margin-right: 50px; */
}
#dest{
    padding-top: 9rem;
}
#dest h1, #dest h2, #dest h3{
    font-size: 2.5rem;
}
#repeat{
    font-family: "titrFont";
    color: #eeeeee;
    font-size:2rem;
}
#keyboard span{
    padding: 0.5rem;
    width: 3rem;;
    height: 4rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: grey;
}

#content_list .name{
    font-family: titrFont !important;
    font-size: 2.2rem;;
    float: right
}

#content_list li{
    text-align: left;
    list-style: none;
    border-bottom: rgb(105, 105, 105) dashed 1px;
    padding-right: 0;
    margin-right: 0;
}

.hidden{
    display: none;
}

.template{
    display: none;
}
.fix_end:after{
    content:"‍";
    padding: 0;
    margin:0;
    overflow:visible; 
}
.reset_stats{
    font-size: 2.2rem !important;
    cursor: pointer;
}



/* --------------- keyboard layout ---------------------*/
#keyboard_practice{
    margin: auto;
    padding: 0.5rem;
    background-color: #ddd;
    border-radius: 2rem;
    /*border: 1px solid #000000; */
    max-width: 100rem;
}
.Keyboard-layout *{
    direction: ltr;
}

div.KeyboardWrap{
    contain:content;
    height:0;
    overflow:hidden;
    padding-bottom:37.25782414%;
    position:relative;
    width:auto
}
div.KeyboardWrap--full{
    padding-bottom:25%
}
.Keyboard-frame{
    fill:#BEBFC1
}
.KeyboardKey-button{
    fill:#F4F5F9;
}
.KeyboardKey-text{
    font-size:1rem
}
.KeyboardKey-symbol,.KeyboardKey-text{
    fill: #444;
    cursor:default;
    font-family: textFont;
    user-select:none
}
.KeyboardKey-symbol{
    font-size:1.1rem
}
.KeyboardKey-symbol--primary{
    font-size:1.4rem
}
.KeyboardKey-symbol--secondary{
    font-size:1.1rem
}
.KeyboardKey-symbol--dead{
    fill:#c00
}
.KeyboardKey--simple .KeyboardKey-button {
    fill: #efefee;
}
.KeyboardKey--special .KeyboardKey-button{
    fill:#e3e3e1
}
.KeyboardKey--special .KeyboardKey-symbol,
.KeyboardKey--special .KeyboardKey-text{
    fill:#22211f
}
.KeyboardKey--depressed .KeyboardKey-button{
    fill:#42403e
}
.KeyboardKey--depressed .KeyboardKey-symbol,
.KeyboardKey--depressed .KeyboardKey-text{
    fill:#fefff9
}
.KeyPointer{
    fill:#44c975;
    animation:KeyPointer-animation .2s ease 1s 1 both;
    opacity:.5
}
@keyframes KeyPointer-animation{
    0%{
        opacity:0;
        transform:scale(2)
    }
    to{
        opacity:.5;
        transform:scale(1)
    }

}
/* --------------- keyboard layout ---------------------*/


